@if(!isTable)
{
    <div class="row text-center alert alert-info">
        <div class="col">
            <p>@HSkill.Name</p>
            <p>@HSkill.Since.ToString("dd.MM.yyyy")</p>
            <p>@HSkill.CurrentLevel</p>
        </div>
    </div>

    @if (isRandomSkill)
    {
        <button class="btn" @onclick="SwitchSkill">Random</button>
    }
}else
{
    <tr>
        <td>@HSkill.Name</td>
        <td>@HSkill.Since.ToString("dd.MM.yyyy")</td>
        <td>@HSkill.CurrentLevel</td>
    </tr>
}


@code {
    [Parameter] public HardSkills HSkill { get; set; } 
    [Parameter] public bool isTable { get; set; }
    [Parameter] public bool isRandomSkill { get; set; } = false;

    [Parameter] public EventCallback SwitchSkill { get; set; }
}
